body {
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 550px;
    height: 720px;
    background-color: #F4F4F4;
    margin: auto auto;
}

.first-section {
    background-color: #6943FF;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.first-section h3 {
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 28px;
}

input {
    width: 117px;
    height: 83px;
    background-color: transparent;
    border: 1px solid  #B295FF;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 58px;
    text-align: center;
}

button {
    width: 117px;
    height: 42px;
    margin-top: 15px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.second-section{
    background-color: white;
    width: 500px;
    height: 108px;
    margin: 12px auto;
    padding-top: 5px;
}

.second-section h3 {
    color: #5A537B;
}

.second-section p {
    color: #353535;
}